<?php

return [
    'db'=>['host'=>'localhost',
    'name'=>'taskdb',
    'user'=>'user',
    'password'=>'123456',],
    'tw' =>[
    'message'=>'Check out this Meetup with SoCal AngularJS!',
    'url'=>'https://site.com'
    ]
];